{% extends "Home/base.html" %}


{% block css_content %}

{% load static %}
<link rel="stylesheet" href={% static "Home/css/eliminarO.css" %}>


{% endblock %}

{% block body_content %}

<div id="aveces">
        
        
                <div id="formas">



                            <h5 style="text-align: center">Confirmar Registro</h5>
                            <hr style="background-color: white">
                            <form method="post" id="eliminar">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Correo</label>
                                      <input name="correo" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo" required>
                                      <small style="color: black" id="emailHelp" class="form-text text-muted">Esta acción no puede deshacerse.</small>
                                    </div>

                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %} 
                                    <button style="width: 100%" type="submit" class="btn btn-primary">Confirmar registro</button>
                    
                                    
                                  </form>
                </div>
        

</div>

{% endblock %}






