{% extends "Home/base.html" %} 
{% block css_content %} 
{% load static %}
<link rel="stylesheet" href={% static "Home/css/index.css" %}>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

{% endblock %} 
{% block body_content %}

<body>
    
<div style="display: flex; width: 100%">
<a class="twitter-timeline" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/UNAM_MX?ref_src=twsrc%5Etfw">Tweets by UNAM_MX</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
<div>
</body>

{% endblock %}
