


{% block css_content %}

{% load static %}
<link rel="stylesheet" href={% static "Home/css/login.css" %}>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block authentication %}
{% endblock %}

{% block body_content %}

{% if user.is_authenticated%}
<div class="alert alert-danger" role="alert">
  Necesitas cerrar sesión para entrar a esta página <a href="{% url 'Home:logout' %}">Log out</a>
</div>
{% else %}
<body>
<div id="background">
<div id="login-container">
        <h5 style="text-align: center">Password Reset</h5>
        <hr style="background-color: black">
        <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                </div>
                <div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}                
                </div>

                <button style="width: 100%" type="submit" class="btn btn-primary">Reset                        </button>

              </form>
</div>

</div>
</body>

{% endif%}
{% endblock %}
