body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:  center;
    height: 100vh;
    background: rgb(63, 152, 204);
}

.tabla{
    width: 800px;
    height: 400px;
    overflow-y: scroll;
    background: #ffffff;
    box-shadow: 0 10px 100px rbga(0,0,0,0.5)
}

table{
    width: 100%;
}

table, th, td {
    border:  1px solid #005277;
    border-collapse: collapse;
    text-align: left;
}

th{
    background: #3e828b;
    color: #ffffff;
}

tr th:nth-child(1){
    width: 60px; 
    text-align: center;
    background: #03707d
}

